<a href="https://colab.research.google.com/github/yuanzhou-lab/Intermediate_SQL_Course_Luke_Barousse/blob/main/Data_Analysis_Contoso_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis on Contoso Database 2.0 - Reports

##0. Load SQL Module and Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

##2.1 Customer Report
The Champion of our VIP customer is a female office machine technician who loves shopping in our stores from USA! Hooray!!

In [23]:
%%sql

WITH base_query AS (
    SELECT
        s.orderdate,
        s.orderkey,
        s.storekey,
        CASE WHEN s.storekey = 999999 THEN 'Online' ELSE 'In Store' END AS channel,
        s.netprice * s.quantity * s.exchangerate AS total_sales,
        s.customerkey,
        CONCAT(c.givenname,' ', c.middleinitial, '. ', c.surname) AS name,
        c.gender,
        c.birthday,
        c.countryfull,
        c.occupation,
        c.vehicle
    FROM
        sales s
    LEFT JOIN
        customer c ON s.customerkey = c.customerkey
),
cohort AS (
    SELECT
        customerkey,
        MIN(orderdate) AS first_orderdate,
        EXTRACT(YEAR FROM MIN(orderdate))::INT AS cohort_year
    FROM
        base_query
    GROUP BY
        customerkey
),
agg AS (
    SELECT
        b.customerkey,
        b.name,
        b.gender,
        b.birthday,
        b.countryfull,
        b.occupation,
        b.vehicle,
        c.cohort_year,
        MODE() WITHIN GROUP (ORDER BY b.channel) AS channel,
        SUM(b.total_sales) AS total_spend,
        COUNT(DISTINCT b.orderkey) AS order_count,
        MAX(b.orderdate) AS last_order_date
    FROM
        base_query b
    JOIN
        cohort c ON b.customerkey = c.customerkey
    GROUP BY
        b.customerkey,
        b.name,
        b.gender,
        b.birthday,
        b.countryfull,
        b.occupation,
        b.vehicle,
        c.cohort_year
),
percentiles AS (
    SELECT
        *,
        PERCENT_RANK() OVER (ORDER BY total_spend) AS spend_percentile
    FROM
        agg
),
final AS (
    SELECT
        *,
        MAX(last_order_date) OVER () - last_order_date AS days_since_last_order,
        CASE
            WHEN MAX(last_order_date) OVER () - last_order_date > 365
                THEN 'At Risk'
            WHEN spend_percentile >= 0.80
                THEN 'VIP'
            WHEN cohort_year = EXTRACT(YEAR FROM MAX(last_order_date)OVER())
                THEN 'New'
            ELSE 'Loyal'
        END AS customer_segment
    FROM
        percentiles
)
SELECT
    customerkey,
    name,
    gender,
    birthday,
    countryfull,
    occupation,
    vehicle,
    cohort_year,
    channel,
    total_spend,
    order_count,
    ROUND(spend_percentile * 100)::INT AS total_spend_percentile,
    customer_segment
FROM
    final
ORDER BY
    customer_segment DESC,
    total_spend DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

,customerkey,name,gender,birthday,countryfull,occupation,vehicle,cohort_year,channel,total_spend,order_count,total_spend_percentile,customer_segment
0,1743963,Patricia J. Dalton,female,1941-10-08,United States,Office machine and cash register technician,2009 Hyundai Entourage,2017,In Store,65431.98,6,100,VIP
1,1232832,James M. Thompson,male,1969-09-29,United States,Bridge and lock tender,2001 Honda Odyssey,2016,In Store,62460.01,5,100,VIP
2,1375597,David M. Green,male,1951-08-02,United States,Guidance counselor,2011 Daihatsu Sirion,2019,In Store,56073.21,7,100,VIP
3,230055,Andreas C. Dolan,male,1943-12-29,Canada,Private detective,2002 Holden Cruze,2016,Online,50023.60,6,100,VIP
4,1443423,Gloria D. Clark,female,1945-05-10,United States,Paleontologist,2011 Lotus Exige,2016,Online,49366.33,4,100,VIP
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49482,935474,Lilly A. Perkins,female,1935-09-02,United Kingdom,Silvering applicator,2007 Kia Optima,2017,In Store,3.28,1,0,At Risk
49483,1035383,Elise J. Hughes,female,1964-10-13,United Kingdom,Aerobics instructor,2008 Ford Expedition,2015,In Store,3.14,1,0,At Risk
49484,881751,Marein S. Schoonderwoerd,male,1963-12-21,Netherlands,Forming machine operator,2000 Toyota Altezza,2016,In Store,2.98,1,0,At Risk
49485,447646,Ralph L. Pfeffer,male,1993-01-16,Germany,Nuclear power reactor operator,2012 Lancia Thema,2022,Online,2.55,1,0,At Risk
49486,612844,Heloise T. Busson,female,1949-10-26,France,Poultry scientist,2010 Fiat Stilo,2019,In Store,1.52,1,0,At Risk

##2.2 Product Report
Our highest sales and also highest gross item of all time comes from WWI Desktop PC2.33 X2330 Silver, by Wide World Importers;  
Our most sold item of all time is Adventure Works Desktop PC1.60 ED160 White;  
Our gross margin results of all time ranges from an amazing 35.73% to a jaw-dropping 75.78%!

In [67]:
%%sql

WITH base_query AS (
    SELECT
        s.orderdate,
        s.orderkey,
        s.netprice,
        s.quantity,
        s.exchangerate,
        s.unitcost,
        s.netprice * s.quantity * s.exchangerate AS order_amount,
        (s.netprice - s.unitcost) * s.quantity AS order_gross,
        CASE WHEN s.storekey = 999999 THEN 'Online' ELSE 'In Store' END AS channel,
        p.productkey AS productkey,
        p.productcode,
        p.productname,
        p.categoryname,
        p.subcategoryname,
        p.manufacturer,
        p.brand
    FROM
        sales s
    LEFT JOIN
        product p ON s.productkey = p.productkey
),
aggregation AS (
    SELECT
        productkey,
        productcode,
        productname,
        categoryname,
        subcategoryname,
        manufacturer,
        brand,
        COUNT(DISTINCT orderkey) AS order_count,
        SUM(quantity) AS total_quantity,
        SUM(order_amount) AS total_amount,
        SUM(order_gross) AS total_gross,
        MAX(orderdate) AS last_order_date,
        MIN(orderdate) AS first_order_date,
        MAX(orderdate) - MIN(orderdate) AS order_range,
        COUNT(orderkey) AS line_count,
        COUNT(CASE WHEN channel = 'Online' THEN 1 END) AS online_count,
        COUNT(CASE WHEN channel = 'In Store' THEN 1 END) AS store_count
    FROM
        base_query
    GROUP BY
        productkey,
        productcode,
        productname,
        categoryname,
        subcategoryname,
        manufacturer,
        brand
)
SELECT
    productkey,
    productcode,
    productname,
    categoryname,
    subcategoryname,
    manufacturer,
    brand,
    order_count,
    total_quantity,
    total_quantity / NULLIF(order_count, 0) AS avg_quantity,
    total_amount,
    total_amount / NULLIF(order_count, 0) AS avg_amount,
    total_gross,
    total_gross / NULLIF(order_count, 0) AS avg_gross,
    (total_gross / NULLIF(order_count, 0)) / (total_amount / NULLIF(order_count, 0)) * 100 AS gross_margin,
    last_order_date,
    first_order_date,
    order_range,
    ROUND((online_count::NUMERIC / NULLIF(line_count, 0)) * 100, 2) AS online_perc,
    ROUND((store_count::NUMERIC / NULLIF(line_count, 0)) * 100, 2) AS store_perc
FROM
    aggregation
ORDER BY
    total_amount DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

2517 rows affected.

,productkey,productcode,productname,categoryname,subcategoryname,manufacturer,brand,order_count,total_quantity,avg_quantity,total_amount,avg_amount,total_gross,avg_gross,gross_margin,last_order_date,first_order_date,order_range,online_perc,store_perc
0,438,303023,WWI Desktop PC2.33 X2330 Silver,Computers,Desktops,Wide World Importers,Wide World Importers,406,1390,3,1978563.54,4873.31,1256157.68,3093.98,63.49,2024-03-07,2015-01-23,3331,36.03,63.97
1,422,303007,Adventure Works Desktop PC2.33 XD233 Black,Computers,Desktops,Adventure Works,Adventure Works,435,1306,3,1930923.36,4438.90,1229333.80,2826.05,63.67,2024-04-01,2015-08-26,3141,39.31,60.69
2,433,303018,Adventure Works Desktop PC2.33 XD233 White,Computers,Desktops,Adventure Works,Adventure Works,389,1282,3,1856510.82,4772.52,1188444.20,3055.13,64.01,2024-03-25,2015-05-28,3224,40.36,59.64
3,450,303035,WWI Desktop PC2.33 X2330 Brown,Computers,Desktops,Wide World Importers,Wide World Importers,406,1296,3,1774293.33,4370.18,1133768.11,2792.53,63.90,2024-04-20,2015-01-01,3397,40.29,59.71
4,416,303001,Adventure Works Desktop PC2.33 XD233 Silver,Computers,Desktops,Adventure Works,Adventure Works,383,1234,3,1773019.12,4629.29,1135410.76,2964.52,64.04,2024-04-11,2015-03-03,3327,39.06,60.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,922,308180,SV USB Data Cable E600 Grey,Computers,Computers Accessories,Southridge Video,Southridge Video,30,93,3,130.10,4.34,60.98,2.03,46.87,2024-03-11,2015-03-12,3287,43.33,56.67
2513,2444,808035,Litware 80mm Dual Ball Bearing Case Fan E1001 ...,Home Appliances,Fans,"Litware, Inc.",Litware,12,25,2,111.03,9.25,52.51,4.38,47.29,2024-02-24,2016-02-16,2930,33.33,66.67
2514,920,308178,SV USB Data Cable E600 Black,Computers,Computers Accessories,Southridge Video,Southridge Video,22,76,3,105.38,4.79,47.62,2.16,45.19,2023-12-28,2015-09-30,3011,31.82,68.18
2515,921,308179,SV USB Data Cable E600 Silver,Computers,Computers Accessories,Southridge Video,Southridge Video,23,62,2,97.31,4.23,46.20,2.01,47.47,2023-09-12,2016-04-23,2698,30.43,69.57
2516,919,308177,SV USB Data Cable E600 Pink,Computers,Computers Accessories,Southridge Video,Southridge Video,23,69,3,84.65,3.68,34.70,1.51,41.00,2023-11-21,2015-10-17,2957,56.52,43.48

##2.3 Store Report

In [27]:
%%sql
select * from product limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
5,6,101006,Contoso 2G MP3 Player E200 Black,"Contoso, Ltd",Contoso,Black,ounces,8.80,11.00,21.57,1,Audio,101,MP4&MP3
6,7,101007,Contoso 2G MP3 Player E200 Blue,"Contoso, Ltd",Contoso,Blue,ounces,2.10,11.00,21.57,1,Audio,101,MP4&MP3
7,8,101008,Contoso 4G MP3 Player E400 Silver,"Contoso, Ltd",Contoso,Silver,ounces,5.60,30.58,59.99,1,Audio,101,MP4&MP3
8,9,101009,Contoso 4G MP3 Player E400 Black,"Contoso, Ltd",Contoso,Black,ounces,2.10,30.58,59.99,1,Audio,101,MP4&MP3
9,10,101010,Contoso 4G MP3 Player E400 Green,"Contoso, Ltd",Contoso,Green,ounces,11.00,30.58,59.99,1,Audio,101,MP4&MP3