<a href="https://colab.research.google.com/github/yuanzhou-lab/Intermediate_SQL_Course_Luke_Barousse/blob/main/scripts/Data_Analysis_Contoso_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis on Contoso Database 2.0 - Reports

##0. Load SQL Module and Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

##2.1 Customer Report
Our No.1 VIP customer is a female machine operator who loves Audi sports cars from Canada! Hooray!!

In [16]:
%%sql
WITH base_query AS
(
  SELECT
    orderdate,
    orderkey,
    netprice * quantity * exchangerate AS total_sales,
    sales.customerkey,
    CONCAT(givenname,' ', middleinitial, '. ', surname) AS name,
    gender,
    birthday,
    countryfull,
    occupation,
    vehicle,
    EXTRACT(YEAR FROM AGE(orderdate, birthday)) AS age_at_order
  FROM
    sales
  LEFT JOIN
    customer
  ON
    sales.customerkey = customer.customerkey
),
plus_query AS
(
  SELECT
    customerkey,
    name,
    gender,
    birthday,
    age_at_order,
    countryfull,
    occupation,
    vehicle,
    SUM(total_sales) AS total_sales,
    COUNT(DISTINCT orderkey) AS order_count,
    MAX(orderdate) AS last_order_date
  FROM
    base_query
  GROUP BY
    customerkey,
    name,
    gender,
    birthday,
    age_at_order,
    countryfull,
    occupation,
    vehicle
  ORDER BY
    total_sales DESC
),
last_query AS
(
  SELECT
    customerkey,
    name,
    gender,
    birthday,
    age_at_order,
    total_sales,
    order_count,
    last_order_date,
    countryfull,
    occupation,
    vehicle,
    ntile(5) OVER (ORDER BY total_sales / order_count DESC) AS sales_per_order_rank,
    MAX(last_order_date) OVER () - last_order_date AS days_since_last_order
  FROM
    plus_query
)
SELECT
  customerkey,
  name,
  gender,
  birthday,
  countryfull,
  occupation,
  vehicle,
  total_sales,
  order_count,
  CASE WHEN sales_per_order_rank = 1 AND days_since_last_order < 365 THEN 'VIP'
       WHEN sales_per_order_rank != 1 AND days_since_last_order < 365 THEN 'Regular'
       ELSE 'Inactive' END AS customer_status
FROM
  last_query
ORDER BY
  customer_status DESC,
  total_sales DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

76089 rows affected.

,customerkey,name,gender,birthday,countryfull,occupation,vehicle,total_sales,order_count,customer_status
0,228672,Janice C. Vanatta,female,1947-06-21,Canada,Machine operator,2014 Audi S7,42485.69,1,VIP
1,342151,Gladys M. Schoolcraft,female,1946-09-10,Canada,Terrazzo worker,2001 Samsung SM5,33510.80,1,VIP
2,1684062,Gwen J. Martin,female,1972-05-27,United States,Rental clerk,2008 Mitsubishi Galant,31416.31,3,VIP
3,242286,William K. Gaston,male,1986-11-21,Canada,ATF agent,2001 Alfa Romeo Spider,30296.71,1,VIP
4,62636,Connor H. Simonds,male,1978-11-21,Australia,Music instructor,1998 Buick Riviera,29913.00,1,VIP
...,...,...,...,...,...,...,...,...,...,...
76084,1113119,Holly F. Clements,female,1997-04-10,United Kingdom,Contract skidder,2004 MCC ForTwo,2.17,1,Inactive
76085,1497294,Bridget J. Winchester,female,1944-10-29,United States,Electrophysiologist,1994 Opel Frontera,2.09,1,Inactive
76086,612844,Heloise T. Busson,female,1949-10-26,France,Poultry scientist,2010 Fiat Stilo,1.52,1,Inactive
76087,576243,Mandy P. Amsel,female,1950-07-09,Germany,Metalworking machine operator,2012 Kia Sedona,1.33,1,Inactive
76088,1892814,Adela M. Long,female,1984-04-12,United States,Agricultural laborer,2006 Chevrolet Spark,0.83,1,Inactive

##2.2 Product Report

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
5,185,2,1990-08-01,2029-05-28,Australia,female,Mrs.,Gabrielle,B,Castella,...,2469,AU,Australia,1980-02-23,40,Management dietitian,d.e.m.o.,1997 Alpina B6,-29.01,152.84
6,189,7,2008-07-05,2017-11-01,Australia,female,Ms.,Hayley,C,Jull,...,3377,AU,Australia,1960-04-18,60,Sculptor,Asian Plan,2006 Alpina B5,-37.34,142.91
7,210,2,1980-09-28,2030-05-08,Australia,female,Mrs.,Natalie,L,Hilder,...,2632,AU,Australia,1950-11-23,70,Motel desk clerk,Enrich Garden Services,1995 Ford Fairlane,-36.84,149.05
8,225,7,1985-06-25,2017-09-25,Australia,male,Mr.,Hunter,J,Hutchins,...,3763,AU,Australia,1978-07-20,42,Teletype operator,Mr. Good Buys,2012 Lexus GX,-37.51,145.44
9,243,2,1982-02-07,2027-02-09,Australia,female,Ms.,Maya,J,Atherton,...,2446,AU,Australia,1954-05-15,66,Pilates instructor,Franklin Music,1995 Chevrolet Caprice,-31.36,152.39

##2.3 Store Report