<a href="https://colab.research.google.com/github/yuanzhou-lab/Intermediate_SQL_Course_Luke_Barousse/blob/main/scripts/Data_Analysis_Contoso_1.0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis on Contoso Database 1.0 - Topics

##0. Load SQL Module and Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

##1.1 Global Sales Development 2015 to 2024

In [ ]:
%%sql

SELECT
  EXTRACT(YEAR FROM orderdate) AS sales_year,
  COUNT(DISTINCT customerkey) AS customer_count,
  COUNT(DISTINCT orderkey) AS order_count,
  SUM(quantity) AS total_quantity,
  SUM(netprice * quantity * exchangerate) AS total_sales,
  ROUND((COUNT(DISTINCT customerkey) - LAG(COUNT(DISTINCT customerkey)) OVER (ORDER BY EXTRACT(YEAR FROM orderdate))::NUMERIC)
  / LAG(COUNT(DISTINCT customerkey)) OVER (ORDER BY EXTRACT(YEAR FROM orderdate)) * 100,2) AS yoy_customer_growth,
  (SUM(netprice * quantity * exchangerate) - LAG(SUM(netprice * quantity * exchangerate)) OVER (ORDER BY EXTRACT(YEAR FROM orderdate)))/
  LAG(SUM(netprice * quantity * exchangerate)) OVER (ORDER BY EXTRACT(YEAR FROM orderdate)) * 100 AS yoy_growth_rate
FROM
  sales
GROUP BY
  sales_year
ORDER BY
  sales_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,sales_year,customer_count,order_count,total_quantity,total_sales,yoy_customer_growth,yoy_growth_rate
0,2015,2825,2874,21591,7370979.48,None,NaN
1,2016,3523,3604,26869,10383613.67,24.71,40.87
2,2017,4391,4539,33903,13221339.05,24.64,27.33
3,2018,8641,9263,69587,24667447.84,96.79,86.57
4,2019,10251,11162,85066,31818095.97,18.63,28.99
5,2020,4656,4806,35234,11218435.79,-54.58,-64.74
6,2021,7754,8252,62108,21357976.66,66.54,90.38
7,2022,16388,18895,143836,44864557.21,111.35,110.06
8,2023,13746,15503,118173,33108565.51,-16.12,-26.20
9,2024,4097,4232,32003,8396527.38,-70.19,-74.64

##1.2 Global Sales Development by Countries 2015 to 2024

In [ ]:
%%sql

WITH sales_report AS
(
SELECT
  EXTRACT(YEAR FROM orderdate) AS sales_year,
  countryname,
  COUNT(DISTINCT customerkey) AS customer_count,
  COUNT(DISTINCT orderkey) AS order_count,
  SUM(quantity) AS total_quantity,
  SUM(netprice * quantity * exchangerate) AS total_sales
FROM
  sales
LEFT JOIN
  store
ON
  sales.storekey = store.storekey
GROUP BY
  ROLLUP(sales_year, countryname)
ORDER BY
  countryname,
  sales_year
)
SELECT
  COALESCE(CAST(sales_year AS VARCHAR), 'All Years') AS sales_year,
  COALESCE(countryname, 'All Countries') AS countryname,
  customer_count,
  order_count,
  total_quantity,
  total_sales::INTEGER,
    CASE WHEN sales_year IS NULL THEN 'n.a.'
       ELSE COALESCE(CAST(ROUND((((customer_count - LAG(customer_count) OVER (PARTITION BY countryname ORDER BY sales_year))::NUMERIC
       / LAG(customer_count) OVER (PARTITION BY countryname ORDER BY sales_year)) * 100)::NUMERIC, 2) AS VARCHAR), 'n.a.') END AS yoy_customer_growth,
  CASE WHEN sales_year IS NULL THEN 'n.a.'
       ELSE COALESCE(CAST(ROUND((((total_sales - LAG(total_sales) OVER (PARTITION BY countryname ORDER BY sales_year))::NUMERIC
       / LAG(total_sales) OVER (PARTITION BY countryname ORDER BY sales_year)) * 100)::NUMERIC, 2) AS VARCHAR), 'n.a.') END AS yoy_growth_rate
FROM
  sales_report
ORDER BY
  CASE WHEN countryname IS NULL THEN 1 ELSE 0 END,
  countryname,
  CASE WHEN sales_year IS NULL THEN 1 ELSE 0 END,
  sales_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

101 rows affected.

,sales_year,countryname,customer_count,order_count,total_quantity,total_sales,yoy_customer_growth,yoy_growth_rate
0,2015,Australia,124,124,880,455431,n.a.,n.a.
1,2016,Australia,145,148,1158,534470,16.94,17.35
2,2017,Australia,166,167,1383,666955,14.48,24.79
3,2018,Australia,362,369,2947,1598725,118.07,139.71
4,2019,Australia,442,458,3603,1865205,22.10,16.67
...,...,...,...,...,...,...,...,...
96,2021,All Countries,7754,8252,62108,21357977,66.54,90.38
97,2022,All Countries,16388,18895,143836,44864557,111.35,110.06
98,2023,All Countries,13746,15503,118173,33108566,-16.12,-26.20
99,2024,All Countries,4097,4232,32003,8396527,-70.19,-74.64
100,All Years,All Countries,49487,83130,628370,206407539,n.a.,n.a.

In [ ]:
%%sql

SELECT
  *
FROM
  store;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

74 rows affected.

,storekey,storecode,geoareakey,countrycode,countryname,state,opendate,closedate,description,squaremeters,status
0,10,1,1,AU,Australia,Australian Capital Territory,2008-01-01,None,Contoso Store Australian Capital Territory,595.00,None
1,20,2,3,AU,Australia,Northern Territory,2008-01-12,2016-07-07,Contoso Store Northern Territory,665.00,Closed
2,30,3,5,AU,Australia,South Australia,2012-01-07,2015-08-08,Contoso Store South Australia,2000.00,Restructured
3,35,3,5,AU,Australia,South Australia,2015-12-08,None,Contoso Store South Australia,3000.00,None
4,40,4,6,AU,Australia,Tasmania,2010-01-01,None,Contoso Store Tasmania,2000.00,None
...,...,...,...,...,...,...,...,...,...,...,...
69,630,63,610,US,United States,Utah,2008-03-06,2019-11-03,Contoso Store Utah,2000.00,None
70,650,65,573,US,United States,Washington DC,2010-01-01,None,Contoso Store Washington DC,1330.00,None
71,660,66,615,US,United States,West Virginia,2012-01-01,None,Contoso Store West Virginia,1785.00,None
72,670,67,616,US,United States,Wyoming,2014-01-01,None,Contoso Store Wyoming,840.00,None
73,999999,-1,-1,--,Online,Online,2010-01-01,None,Online store,NaN,None

##1.3 Seasonality Analysis
The result shows April is constantly the lowest month in sales. While December to February is the highest season of the years, their sales also fluctuates the most.

In [ ]:
%%sql

WITH monthly_sales AS
(
SELECT
  EXTRACT('YEAR' FROM orderdate) AS sales_year,
  EXTRACT('MONTH' FROM orderdate) AS sales_month,
  TO_CHAR(orderdate, 'Month') AS month_name,
  SUM(netprice * quantity * exchangerate) AS total_sales
FROM
  sales
GROUP BY
  sales_year,
  sales_month,
  month_name
), sales_ratio AS
(
SELECT
  sales_year,
  sales_month,
  month_name,
  total_sales,
  (total_sales / SUM(total_sales) OVER (PARTITION BY sales_year)) * 100 AS sales_ratio
FROM
  monthly_sales
WHERE
  sales_year <> 2024
ORDER BY
  sales_year,
  sales_month
)
SELECT
  month_name,
  AVG(sales_ratio) AS avg_sales_ratio,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY sales_ratio) AS median_sales_ratio,
  MIN(sales_ratio) AS min_sales_ratio,
  MAX(sales_ratio) AS max_sales_ratio,
  STDDEV(sales_ratio) AS stddev_sales_ratio
FROM
  sales_ratio
GROUP BY
  sales_month,
  month_name
ORDER BY
  sales_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month_name,avg_sales_ratio,median_sales_ratio,min_sales_ratio,max_sales_ratio,stddev_sales_ratio
0,January,8.73,8.05,3.14,19.01,4.50
1,February,11.83,10.79,5.13,24.19,5.23
2,March,5.94,6.24,3.36,10.05,1.96
3,April,3.19,3.47,1.99,4.53,0.85
4,May,8.53,8.59,6.85,10.84,1.34
5,June,9.27,9.05,7.13,11.80,1.40
6,July,7.30,7.30,5.53,8.62,0.94
7,August,8.01,8.45,4.68,9.75,1.48
8,September,8.20,8.48,2.92,11.35,2.25
9,October,8.87,8.72,3.40,12.17,2.54
10,November,8.91,9.33,3.05,12.35,2.62
11,December,11.23,12.52,4.68,17.06,3.69

##1.4 Find the best performing store over the years
From the results we can check the top 3 performing stores within each country in each operating year. The query can be easily simplified to see the top performing stores from different country throughout the operating years, or the top performing stores worldwide.

In [ ]:
%%sql

WITH sales_report AS
(
SELECT
  sales.storekey,
  countryname,
  description,
  EXTRACT(YEAR FROM orderdate) AS sales_year,
  SUM(netprice * quantity * exchangerate) AS total_sales
FROM
  sales
LEFT JOIN
  store
ON
  sales.storekey = store.storekey
GROUP BY
  sales.storekey,
  countryname,
  description,
  sales_year
),
ranked_sales_report AS
(
SELECT
  storekey,
  countryname,
  description,
  sales_year,
  total_sales,
  ROW_NUMBER() OVER (PARTITION BY countryname, sales_year ORDER BY total_sales DESC) as rn
FROM
  sales_report
)
SELECT
  storekey,
  countryname,
  description,
  sales_year,
  rn AS rank,
  total_sales
FROM
  ranked_sales_report
WHERE
  rn <= 3
ORDER BY
  countryname,
  sales_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

243 rows affected.

,storekey,countryname,description,sales_year,rank,total_sales
0,10,Australia,Contoso Store Australian Capital Territory,2015,1,93555.57
1,60,Australia,Contoso Store Western Australia,2015,2,92739.80
2,40,Australia,Contoso Store Tasmania,2015,3,91999.79
3,50,Australia,Contoso Store Victoria,2016,1,242384.09
4,60,Australia,Contoso Store Western Australia,2016,2,120215.38
...,...,...,...,...,...,...
238,500,United States,Contoso Store Kansas,2023,2,345844.15
239,540,United States,Contoso Store Nebraska,2023,3,333824.00
240,510,United States,Contoso Store Maine,2024,1,114264.45
241,500,United States,Contoso Store Kansas,2024,2,98238.99
242,670,United States,Contoso Store Wyoming,2024,3,97431.28

##1.5 Find best performing subcategory and category of all operarting years, Online VS Stores.

In [ ]:
%%sql
WITH online_gp_per_category AS
(
  SELECT
    categoryname,
    subcategoryname,
    SUM(netprice * quantity * exchangerate) * AVG((price - cost) / price * 100) AS online_gross_profit
  FROM
    sales s
  LEFT JOIN
    product p
  ON s.productkey = p.productkey
  LEFT JOIN
    store e
  ON s.storekey = e.storekey
  WHERE
    e.description = 'Online store'
  GROUP BY
    categoryname,
    subcategoryname
),
non_online_gp_per_category AS
(
  SELECT
    categoryname,
    subcategoryname,
    SUM(netprice * quantity * exchangerate) * AVG((price - cost) / price * 100) AS non_online_gross_profit
  FROM
    sales s
  LEFT JOIN
    product p
  ON s.productkey = p.productkey
  LEFT JOIN
    store e
  ON s.storekey = e.storekey
  WHERE
    e.description != 'Online store'
  GROUP BY
    categoryname,
    subcategoryname
)
SELECT
  COALESCE(o.categoryname, no.categoryname) AS categoryname,
  COALESCE(o.subcategoryname, no.subcategoryname) AS subcategoryname,
  COALESCE(o.online_gross_profit, 0) AS online_gross_profit,
  COALESCE(no.non_online_gross_profit, 0) AS non_online_gross_profit,
  COALESCE(o.online_gross_profit, 0) + COALESCE(no.non_online_gross_profit, 0) AS total_gross_profit
FROM
  online_gp_per_category o
FULL OUTER JOIN
  non_online_gp_per_category no
ON
  o.categoryname = no.categoryname AND o.subcategoryname = no.subcategoryname
ORDER BY
  total_gross_profit DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

32 rows affected.

,categoryname,subcategoryname,online_gross_profit,non_online_gross_profit,total_gross_profit
0,Computers,Desktops,721094581.64,1446968068.26,2168062649.90
1,Computers,Projectors & Screens,399866012.36,737688151.87,1137554164.23
2,Computers,Laptops,340268697.21,564953722.20,905222419.41
3,Cell phones,Smart phones & PDAs,373289038.12,524524649.89,897813688.01
4,Cell phones,Touch Screen Phones,327121230.81,510465583.58,837586814.40
5,TV and Video,Televisions,333389536.33,456061596.61,789451132.94
6,"Music, Movies and Audio Books",Movie DVD,257900814.73,348227093.65,606127908.38
7,Cameras and camcorders,Camcorders,146103065.76,357693774.85,503796840.61
8,Home Appliances,Water Heaters,204141066.80,289466626.05,493607692.85
9,Computers,Monitors,183429574.73,305074339.50,488503914.23
10,Cameras and camcorders,Digital SLR Cameras,116220919.61,242996652.34,359217571.95
11,Home Appliances,Washers & Dryers,119431364.04,179836072.28,299267436.31
12,Home Appliances,Refrigerators,101345255.95,146839039.85,248184295.80
13,Computers,"Printers, Scanners & Fax",83670033.67,134943486.01,218613519.67
14,Cameras and camcorders,Digital Cameras,42211340.20,103505539.31,145716879.51
15,TV and Video,Car Video,66010312.71,76805910.59,142816223.29
16,Home Appliances,Coffee Machines,51514870.56,90901958.34,142416828.91
17,TV and Video,Home Theater System,55808004.20,82143349.03,137951353.22
18,Home Appliances,Microwaves,48478311.25,78619946.96,127098258.21
19,Audio,Bluetooth Headphones,39618648.60,86619491.97,126238140.57
20,Audio,Recording Pen,38712118.67,81465208.80,120177327.48
21,Home Appliances,Air Conditioners,32346404.55,45981112.85,78327517.40
22,Games and Toys,Download Games,26162917.40,47083789.68,73246707.08
23,Computers,Computers Accessories,23315627.70,40472423.25,63788050.95
24,Cameras and camcorders,Cameras & Camcorders Accessories,17865315.99,41171990.69,59037306.68
25,TV and Video,VCD & DVD,20152664.80,29347705.31,49500370.11
26,Audio,MP4&MP3,17437983.62,29076359.11,46514342.73
27,Cell phones,Home & Office Phones,16932165.02,25059016.27,41991181.29
28,Home Appliances,Lamps,16064406.22,23870248.38,39934654.59
29,Cell phones,Cell phones Accessories,13587252.67,18676807.13,32264059.80
30,Games and Toys,Boxed Games,5313768.00,8096918.70,13410686.71
31,Home Appliances,Fans,5285023.37,6851448.04,12136471.41

##1.6 Check Price, cost and margin development over the years, by category and subcategoy.
Through this small analysis we found:
1. Contoso is keeping surprisingly consistant margin levels globally throughout the operation years in records.
2. During the Covid years, different category of products was seeing different price development. While the 'white' goods has around 10% price inflation, the 'black' goods are facing price depreciation.

In [ ]:
%%sql
WITH base_query AS
(
  SELECT
    COALESCE(categoryname, 'All') AS category,
    COALESCE(subcategoryname, 'All') AS subcategory,
    COALESCE(CAST(EXTRACT(YEAR FROM orderdate) AS VARCHAR), 'All Years') AS sales_year,
    AVG(unitprice * exchangerate) AS avg_list_price,
    AVG(netprice * exchangerate) AS avg_selling_price,
    AVG(unitcost * exchangerate) AS avg_cost,
    AVG((unitprice - unitcost) / unitprice * 100) AS avg_margin
  FROM
    sales s
  JOIN
    product p
  ON
    s.productkey = p.productkey
  GROUP BY
    ROLLUP (categoryname,
    subcategoryname,
    EXTRACT(YEAR FROM orderdate))
  ORDER BY
    categoryname,
    subcategoryname,
    sales_year
)
SELECT
  category,
  subcategory,
  sales_year,
  avg_list_price,
  CASE WHEN
    subcategory != 'All' AND sales_year = 'All Years' THEN NULL
    ELSE avg_list_price / LAG(avg_list_price) OVER (PARTITION BY category, subcategory ORDER BY sales_year) * 100
  END AS price_growth_rate,
  avg_selling_price,
  CASE WHEN
    subcategory != 'All' AND sales_year = 'All Years' THEN NULL
    ELSE avg_selling_price / LAG(avg_selling_price) OVER (PARTITION BY category, subcategory ORDER BY sales_year) * 100
  END AS selling_price_growth_rate,
  avg_cost,
  CASE WHEN
    subcategory != 'All' AND sales_year = 'All Years' THEN NULL
    ELSE avg_cost / LAG(avg_cost) OVER (PARTITION BY category, subcategory ORDER BY sales_year) * 100
  END AS cost_growth_rate,
  avg_margin,
  CASE WHEN
    subcategory != 'All' AND sales_year = 'All Years' THEN NULL
    ELSE avg_margin / LAG(avg_margin) OVER (PARTITION BY category, subcategory ORDER BY sales_year) * 100
  END AS margin_growth_rate
FROM
  base_query
ORDER BY
  category,
  subcategory,
  sales_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

361 rows affected.

,category,subcategory,sales_year,avg_list_price,price_growth_rate,avg_selling_price,selling_price_growth_rate,avg_cost,cost_growth_rate,avg_margin,margin_growth_rate
0,All,All,All Years,349.33,NaN,328.57,NaN,144.71,NaN,55.00,NaN
1,Audio,All,All Years,117.31,NaN,110.40,NaN,49.73,NaN,55.26,NaN
2,Audio,Bluetooth Headphones,2015,77.99,NaN,73.04,NaN,31.91,NaN,56.21,NaN
3,Audio,Bluetooth Headphones,2016,79.10,101.43,74.29,101.71,32.54,101.96,55.82,99.32
4,Audio,Bluetooth Headphones,2017,76.88,97.20,72.35,97.38,32.14,98.78,55.51,99.45
...,...,...,...,...,...,...,...,...,...,...,...
356,TV and Video,VCD & DVD,2021,103.35,99.10,97.24,99.44,45.58,98.64,54.55,100.12
357,TV and Video,VCD & DVD,2022,110.55,106.97,103.84,106.79,48.84,107.16,54.56,100.02
358,TV and Video,VCD & DVD,2023,112.90,102.12,106.14,102.21,49.61,101.57,54.71,100.28
359,TV and Video,VCD & DVD,2024,110.92,98.25,105.08,99.00,49.27,99.32,54.33,99.30
360,TV and Video,VCD & DVD,All Years,102.24,NaN,96.09,NaN,45.11,NaN,54.56,NaN

##1.7 Compare Customers, Orders, Revenue and Profitability of each Region, Rank them by three year average
We can also see from the results:
1. Contoso is a global company with a focus in the North American Market, where the US and Canada sales were always in top 3.
2. Online sales was always in the top two and became No.1 in 2022.

In [ ]:
%%sql

WITH base_query AS
(
  SELECT
    countryname,
    EXTRACT(YEAR FROM orderdate) AS sales_year,
    COUNT(DISTINCT customerkey) AS customer_count,
    COUNT(DISTINCT orderkey) AS order_count,
    SUM(netprice * quantity * exchangerate) AS total_sales,
    SUM(netprice * quantity * exchangerate) / COUNT(DISTINCT customerkey) AS avg_sales_per_customer,
    SUM((netprice - unitcost) * quantity * exchangerate) AS total_profit
  FROM
    sales
  LEFT JOIN
    store
  ON
    sales.storekey = store.storekey
  GROUP BY
    countryname,
    sales_year
  ORDER BY
    total_profit
), plus_query AS
(
  SELECT
    countryname,
    sales_year,
    customer_count,
    order_count,
    total_sales,
    AVG(total_sales) OVER (PARTITION BY countryname ORDER BY sales_year ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS three_year_running_avg,
    avg_sales_per_customer,
    total_profit
  FROM
    base_query
)
  SELECT
    RANK() OVER(PARTITION BY sales_year ORDER BY three_year_running_avg DESC) AS sales_rank,
    countryname,
    sales_year,
    customer_count,
    order_count,
    total_sales,
    three_year_running_avg,
    avg_sales_per_customer,
    total_profit
  FROM
    plus_query
  WHERE
    sales_year >= 2017
  ORDER BY
    sales_year,
    sales_rank;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

72 rows affected.

,sales_rank,countryname,sales_year,customer_count,order_count,total_sales,three_year_running_avg,avg_sales_per_customer,total_profit
0,1,United States,2017,1870,1932,5772186.35,4420761.25,3086.73,3220809.55
1,2,Online,2017,758,762,2145893.71,1558625.10,2830.99,1216237.44
2,3,Canada,2017,350,360,1495663.06,1202380.68,4273.32,849134.80
3,4,United Kingdom,2017,563,576,1161762.64,975368.10,2063.52,638509.29
4,5,Germany,2017,333,339,896980.07,717937.07,2693.63,508019.63
...,...,...,...,...,...,...,...,...,...
67,5,Australia,2024,128,129,314061.60,1135192.92,2453.61,170633.41
68,6,United Kingdom,2024,129,131,231698.69,846357.58,1796.11,133606.39
69,7,Netherlands,2024,117,120,224266.53,585782.48,1916.81,124901.88
70,8,France,2024,58,58,82575.73,388004.06,1423.72,46511.82
71,9,Italy,2024,33,33,55251.85,237990.90,1674.30,29204.71

##1.8 Show the average total spending of customers based on age and gender

In [ ]:
%%sql

SELECT
  gender,
  CASE WHEN age BETWEEN 19 AND 29 THEN '19-29'
       WHEN age BETWEEN 30 AND 39 THEN '30-39'
       WHEN age BETWEEN 40 AND 49 THEN '40-49'
       WHEN age BETWEEN 50 AND 59 THEN '50-59'
       WHEN age BETWEEN 60 AND 69 THEN '60-69'
       ELSE '70+' END AS age_group,
  SUM(netprice * quantity * exchangerate) / COUNT(DISTINCT sales.customerkey) AS avg_sales
FROM
  sales
LEFT JOIN
  customer
ON
  sales.customerkey = customer.customerkey
GROUP BY
  ROLLUP(gender,
  age_group)
ORDER BY
  gender,
  age_group;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

15 rows affected.

    gender age_group  avg_sales
0   female     19-29    4220.93
1   female     30-39    4299.02
2   female     40-49    4086.17
3   female     50-59    4163.48
4   female     60-69    4147.29
5   female       70+    4183.98
6   female      None    4183.83
7     male     19-29    4202.86
8     male     30-39    4192.03
9     male     40-49    4090.15
10    male     50-59    4117.25
11    male     60-69    4297.72
12    male       70+    4084.75
13    male      None    4158.29
14    None      None    4170.94

##1.9 Compare Spending of different gender and age group in different categories, find top three categories for each gender and age group.
The results are surprising for the Contoso database. Regardless of the gender or age group. The results are consistent with top 3 categories being:
1. Computers
2. Cell Phones
3. Home Appliances

In [ ]:
%%sql

WITH base_query AS
(
  SELECT
    gender,
    CASE
      WHEN EXTRACT(YEAR FROM AGE(orderdate, birthday)) BETWEEN 19 AND 29 THEN '19-29'
      WHEN EXTRACT(YEAR FROM AGE(orderdate, birthday)) BETWEEN 30 AND 39 THEN '30-39'
      WHEN EXTRACT(YEAR FROM AGE(orderdate, birthday)) BETWEEN 40 AND 49 THEN '40-49'
      WHEN EXTRACT(YEAR FROM AGE(orderdate, birthday)) BETWEEN 50 AND 59 THEN '50-59'
      WHEN EXTRACT(YEAR FROM AGE(orderdate, birthday)) BETWEEN 60 AND 69 THEN '60-69'
    ELSE '70+' END AS age_group,
    categoryname,
    SUM(netprice * quantity * exchangerate) AS total_spending
  FROM
    sales
  LEFT JOIN
    customer
  ON
    sales.customerkey = customer.customerkey
  LEFT JOIN
    product
  ON
    sales.productkey = product.productkey
  GROUP BY
    gender,
    age_group,
    categoryname
), plus_query AS
(
  SELECT
    gender,
    age_group,
    categoryname,
    total_spending,
    RANK() OVER (PARTITION BY gender, age_group ORDER BY total_spending DESC) AS spending_rank
  FROM
    base_query
)
  SELECT
    gender,
    age_group,
    categoryname,
    total_spending,
    spending_rank
  FROM
    plus_query
  WHERE
    spending_rank <= 3
  ORDER BY
    gender,
    age_group,
    spending_rank;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

36 rows affected.

    gender age_group     categoryname  total_spending  spending_rank
0   female     19-29        Computers      7235635.83              1
1   female     19-29      Cell phones      2514963.01              2
2   female     19-29  Home Appliances      1895149.26              3
3   female     30-39        Computers      7134672.36              1
4   female     30-39      Cell phones      2443953.83              2
5   female     30-39  Home Appliances      2053100.41              3
6   female     40-49        Computers      6116322.82              1
7   female     40-49      Cell phones      2385148.54              2
8   female     40-49  Home Appliances      2087625.88              3
9   female     50-59        Computers      6470030.16              1
10  female     50-59      Cell phones      2437058.17              2
11  female     50-59  Home Appliances      2038202.36              3
12  female     60-69        Computers      6706070.52              1
13  female     60-69      Cell phones      2544429.36              2
14  female     60-69  Home Appliances      1839721.29              3
15  female       70+        Computers     11278390.84              1
16  female       70+      Cell phones      4029700.23              2
17  female       70+  Home Appliances      3388524.00              3
18    male     19-29        Computers      7401248.79              1
19    male     19-29      Cell phones      2347104.85              2
20    male     19-29  Home Appliances      2120829.75              3
21    male     30-39        Computers      6846365.07              1
22    male     30-39      Cell phones      2446175.06              2
23    male     30-39  Home Appliances      1876146.55              3
24    male     40-49        Computers      6933401.44              1
25    male     40-49      Cell phones      2435300.66              2
26    male     40-49  Home Appliances      1880520.65              3
27    male     50-59        Computers      6813113.47              1
28    male     50-59      Cell phones      2356197.09              2
29    male     50-59  Home Appliances      1938681.46              3
30    male     60-69        Computers      6811815.53              1
31    male     60-69      Cell phones      2501011.97              2
32    male     60-69  Home Appliances      2219713.18              3
33    male       70+        Computers     10871955.23              1
34    male       70+      Cell phones      4183222.94              2
35    male       70+  Home Appliances      3269030.76              3