<a href="https://colab.research.google.com/github/yuanzhou-lab/Intermediate_SQL_Course_Luke_Barousse/blob/main/scripts/EDA_Contoso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exploratory Data Analysis to analyse this Contoso database

##0. Load SQL Module and Database

In [3]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

##1. Explore Database Table and Column definition

In [ ]:
%%sql

SELECT *
FROM information_schema.tables
WHERE table_schema = 'public';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,contoso_100k,public,currencyexchange,BASE TABLE,None,None,None,None,None,YES,NO,None
1,contoso_100k,public,customer,BASE TABLE,None,None,None,None,None,YES,NO,None
2,contoso_100k,public,sales,BASE TABLE,None,None,None,None,None,YES,NO,None
3,contoso_100k,public,date,BASE TABLE,None,None,None,None,None,YES,NO,None
4,contoso_100k,public,product,BASE TABLE,None,None,None,None,None,YES,NO,None
5,contoso_100k,public,store,BASE TABLE,None,None,None,None,None,YES,NO,None

In [4]:
%%sql

SELECT
  *
FROM
  currencyexchange
LIMIT 100;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

100 rows affected.

          date fromcurrency tocurrency  exchange
0   2015-01-01          AUD        AUD      1.00
1   2015-01-01          AUD        CAD      0.95
2   2015-01-01          AUD        EUR      0.67
3   2015-01-01          AUD        GBP      0.53
4   2015-01-01          AUD        USD      0.82
..         ...          ...        ...       ...
95  2015-01-04          USD        AUD      1.23
96  2015-01-04          USD        CAD      1.17
97  2015-01-04          USD        EUR      0.83
98  2015-01-04          USD        GBP      0.65
99  2015-01-04          USD        USD      1.00

[100 rows x 4 columns]

In [5]:
%%sql
SELECT
  *
FROM
  customer
LIMIT 100;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

100 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1822,2,1983-10-22,2034-04-22,Australia,female,Mrs.,Kayla,L,Michell,...,2800,AU,Australia,1992-06-10,28,Florist,National Lumber,1996 Mercury Mountaineer,-33.33,149.03
96,1824,4,1988-12-06,2007-06-16,Australia,male,Mr.,Brodie,L,McLucas,...,4401,AU,Australia,1942-03-16,78,Dental medicine doctor,MagnaSolution,2001 Cadillac XLR,-27.47,151.71
97,1867,2,1985-11-03,2013-11-07,Australia,male,Mr.,Lincoln,R,Heaton,...,2486,AU,Australia,1977-04-22,43,Fine arts instructor,Accord Investments,1993 Daewoo Arcadia,-28.16,153.49
98,1876,7,1980-03-18,2045-06-19,Australia,male,Mr.,Jett,A,Breen,...,3475,AU,Australia,1982-10-08,38,Correctional officer,Record Town,2012 Lexus LS,-36.75,143.55
99,1898,2,2009-11-21,2042-02-10,Australia,female,Ms.,Ebony,A,Latimer,...,2429,AU,Australia,1939-08-25,81,Insurance adjuster,Crazy Tiger,1999 Opel Frontera,-31.72,152.26

In [6]:
%%sql

SELECT
  *
FROM
  sales
LIMIT 100;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

100 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8000,2,2015-01-08,2015-01-08,591707,240,1045,1,940.80,903.17,311.71,EUR,0.85
96,8001,0,2015-01-08,2015-01-08,1963405,660,2014,2,149.99,139.49,68.98,USD,1.00
97,8001,1,2015-01-08,2015-01-08,1963405,660,1684,8,11.82,11.82,3.92,USD,1.00
98,8001,2,2015-01-08,2015-01-08,1963405,660,1314,2,328.00,295.20,150.83,USD,1.00
99,8001,3,2015-01-08,2015-01-08,1963405,660,1048,2,683.20,608.05,226.35,USD,1.00

In [7]:
%%sql

SELECT
  *
FROM
  date
LIMIT 100;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

100 rows affected.

,date,datekey,year,yearquarter,yearquarternumber,quarter,yearmonth,yearmonthshort,yearmonthnumber,month,monthshort,monthnumber,dayofweek,dayofweekshort,dayofweeknumber,workingday,workingdaynumber
0,2015-01-01,20150101,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,0,0
1,2015-01-02,20150102,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,1
2,2015-01-03,20150103,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,1
3,2015-01-04,20150104,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Sunday,Sun,1,0,1
4,2015-01-05,20150105,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Monday,Mon,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015-04-06,20150406,2015,Q2-2015,8062,Q2,April 2015,Apr 2015,24184,April,Apr,4,Monday,Mon,2,1,65
96,2015-04-07,20150407,2015,Q2-2015,8062,Q2,April 2015,Apr 2015,24184,April,Apr,4,Tuesday,Tue,3,1,66
97,2015-04-08,20150408,2015,Q2-2015,8062,Q2,April 2015,Apr 2015,24184,April,Apr,4,Wednesday,Wed,4,1,67
98,2015-04-09,20150409,2015,Q2-2015,8062,Q2,April 2015,Apr 2015,24184,April,Apr,4,Thursday,Thu,5,1,68
99,2015-04-10,20150410,2015,Q2-2015,8062,Q2,April 2015,Apr 2015,24184,April,Apr,4,Friday,Fri,6,1,69

In [9]:
%%sql

SELECT
  *
FROM
  product
LIMIT 100;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

100 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,106031,WWI Stereo Bluetooth Headphones E1000 White,Wide World Importers,Wide World Importers,White,pounds,0.17,34.36,67.40,1,Audio,106,Bluetooth Headphones
96,97,106032,WWI Stereo Bluetooth Headphones E1000 Green,Wide World Importers,Wide World Importers,Green,pounds,1.00,34.36,67.40,1,Audio,106,Bluetooth Headphones
97,98,106033,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Wide World Importers,Silver,ounces,1.14,55.18,120.00,1,Audio,106,Bluetooth Headphones
98,99,106034,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Wide World Importers,Black,ounces,12.80,55.18,120.00,1,Audio,106,Bluetooth Headphones
99,100,106035,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Wide World Importers,White,ounces,5.90,55.18,120.00,1,Audio,106,Bluetooth Headphones

In [10]:
%%sql

SELECT
  *
FROM
  store
LIMIT 100;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

74 rows affected.

,storekey,storecode,geoareakey,countrycode,countryname,state,opendate,closedate,description,squaremeters,status
0,10,1,1,AU,Australia,Australian Capital Territory,2008-01-01,None,Contoso Store Australian Capital Territory,595.00,None
1,20,2,3,AU,Australia,Northern Territory,2008-01-12,2016-07-07,Contoso Store Northern Territory,665.00,Closed
2,30,3,5,AU,Australia,South Australia,2012-01-07,2015-08-08,Contoso Store South Australia,2000.00,Restructured
3,35,3,5,AU,Australia,South Australia,2015-12-08,None,Contoso Store South Australia,3000.00,None
4,40,4,6,AU,Australia,Tasmania,2010-01-01,None,Contoso Store Tasmania,2000.00,None
...,...,...,...,...,...,...,...,...,...,...,...
69,630,63,610,US,United States,Utah,2008-03-06,2019-11-03,Contoso Store Utah,2000.00,None
70,650,65,573,US,United States,Washington DC,2010-01-01,None,Contoso Store Washington DC,1330.00,None
71,660,66,615,US,United States,West Virginia,2012-01-01,None,Contoso Store West Virginia,1785.00,None
72,670,67,616,US,United States,Wyoming,2014-01-01,None,Contoso Store Wyoming,840.00,None
73,999999,-1,-1,--,Online,Online,2010-01-01,None,Online store,NaN,None

In [ ]:
%%sql

SELECT
  *
FROM
  information_schema.columns
WHERE
  table_schema = 'public'
ORDER BY
  table_name, ordinal_position;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83 rows affected.

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,contoso_100k,public,currencyexchange,date,1,None,NO,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,contoso_100k,public,currencyexchange,fromcurrency,2,None,NO,character varying,10.00,40.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,contoso_100k,public,currencyexchange,tocurrency,3,None,NO,character varying,10.00,40.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,contoso_100k,public,currencyexchange,exchange,4,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,contoso_100k,public,customer,customerkey,1,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,contoso_100k,public,store,opendate,7,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
79,contoso_100k,public,store,closedate,8,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
80,contoso_100k,public,store,description,9,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
81,contoso_100k,public,store,squaremeters,10,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
82,contoso_100k,public,store,status,11,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES

Warning: Total number of columns (44) exceeds max_columns (20) limiting to first (20) columns.

##2. Dimension Exploration

In [ ]:
%%sql

SELECT DISTINCT
  fromcurrency
FROM
  currencyexchange;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

5 rows affected.

  tocurrency
0        EUR
1        USD
2        CAD
3        AUD
4        GBP

In [ ]:
%%sql
SELECT DISTINCT
  tocurrency
FROM
  currencyexchange;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

  tocurrency
0        EUR
1        USD
2        CAD
3        AUD
4        GBP

In [ ]:
%%sql

SELECT
  MAX(age),
  MIN(age),
  ROUND(AVG(age),2) AS average_age,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY age) AS median_age,
  ROUND(COUNT(CASE WHEN age >= 19 AND age <= 29 THEN 1 ELSE NULL END) * 100.0 / COUNT(*),2) AS ratio_19_29,
  ROUND(COUNT(CASE WHEN age >= 30 AND age <= 39 THEN 1 ELSE NULL END) * 100.0 / COUNT(*),2) AS ratio_30_to_39,
  ROUND(COUNT(CASE WHEN age >= 40 AND age <= 49 THEN 1 ELSE NULL END) * 100.0 / COUNT(*),2) AS ratio_40_to_49,
  ROUND(COUNT(CASE WHEN age >= 50 AND age <= 59 THEN 1 ELSE NULL END) * 100.0 / COUNT(*),2) AS ratio_50_to_59,
  ROUND(COUNT(CASE WHEN age >= 60 AND age <= 69 THEN 1 ELSE NULL END) * 100.0 / COUNT(*),2) AS ratio_60_to_69,
  ROUND(COUNT(CASE WHEN age >= 70 THEN 1 ELSE NULL END) * 100.0 / COUNT(*),2) AS ratio_70_and_above
FROM
  customer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

,max,min,average_age,median_age,ratio_19_29,ratio_30_to_39,ratio_40_to_49,ratio_50_to_59,ratio_60_to_69,ratio_70_and_above
0,85,19,51.90,52.00,16.66,14.90,14.99,14.87,14.88,23.71

In [ ]:
%%sql

SELECT DISTINCT
  gender
FROM
  customer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

2 rows affected.

   gender
0  female
1    male

In [ ]:
%%sql

SELECT
  COUNT(CASE WHEN gender = 'male' THEN 1 ELSE NULL END) AS male_count,
  COUNT(CASE WHEN gender = 'female' THEN 1 ELSE NULL END) AS female_count,
  COUNT(DISTINCT customerkey) AS customerkey_count
FROM
  customer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   male_count  female_count  customerkey_count
0       53063         51927             104990

In [ ]:
%%sql

SELECT DISTINCT
  country,
  continent
FROM
  customer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

  country      continent
0      AU      Australia
1      DE         Europe
2      GB         Europe
3      FR         Europe
4      CA  North America
5      US  North America
6      NL         Europe
7      IT         Europe

In [ ]:
%%sql

SELECT
  country,
  continent,
  COUNT(DISTINCT customerkey) AS customerkey_count
FROM
  customer
GROUP BY
  country, continent
ORDER BY
  customerkey_count DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

  country      continent  customerkey_count
0      US  North America              45183
1      GB         Europe              14781
2      CA  North America              10111
3      AU      Australia              10108
4      DE         Europe               9981
5      IT         Europe               5036
6      NL         Europe               4911
7      FR         Europe               4879

In [ ]:
%%sql
SELECT
  COUNT(DISTINCT productcode) AS productcode_count,
  COUNT(DISTINCT productkey) AS productkey_count,
  COUNT(DISTINCT manufacturer) AS manufacturer_count,
  COUNT(DISTINCT brand) AS brand_count,
  COUNT(DISTINCT categoryname) AS categoryname_count,
  COUNT(DISTINCT subcategoryname) AS subcategoryname_count,
  COUNT(*) AS row_count
FROM
  product;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

,productcode_count,productkey_count,manufacturer_count,brand_count,categoryname_count,subcategoryname_count,row_count
0,2517,2517,11,15,8,32,2517

In [ ]:
%%sql
SELECT DISTINCT
  manufacturer,
  brand,
  categoryname,
  subcategoryname
FROM
  product
ORDER BY
  manufacturer,
  categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

62 rows affected.

,manufacturer,brand,categoryname,subcategoryname
0,A. Datum Corporation,A. Datum,Cameras and camcorders,Digital Cameras
1,A. Datum Corporation,A. Datum,Cameras and camcorders,Digital SLR Cameras
2,Adventure Works,Adventure Works,Computers,Monitors
3,Adventure Works,Adventure Works,Computers,Laptops
4,Adventure Works,Adventure Works,Computers,Desktops
...,...,...,...,...
57,Wide World Importers,Wide World Importers,Computers,Projectors & Screens
58,Wide World Importers,Wide World Importers,Computers,Laptops
59,Wide World Importers,Wide World Importers,Computers,Desktops
60,Wide World Importers,Wide World Importers,Computers,Monitors
61,Wide World Importers,Wide World Importers,Home Appliances,Lamps

In [ ]:
%%sql

SELECT
  categoryname,
  CASE
    WHEN GROUPING(categoryname) = 0 THEN 'detail'
    ELSE 'total'
  END AS Row_Type,
  COUNT(DISTINCT productkey) AS distinct_productkey_count
FROM
  product
GROUP BY
  ROLLUP(categoryname)
ORDER BY
  categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

9 rows affected.

                    categoryname row_type  distinct_productkey_count
0                          Audio   detail                        115
1        Cameras and camcorders    detail                        372
2                    Cell phones   detail                        285
3                      Computers   detail                        606
4                 Games and Toys   detail                        166
5                Home Appliances   detail                        661
6  Music, Movies and Audio Books   detail                         90
7                   TV and Video   detail                        222
8                           None    total                       2517

In [ ]:
%%sql

SELECT
  manufacturer,
  CASE
    WHEN GROUPING(manufacturer) = 0 THEN 'detail'
    ELSE 'total'
  END AS Row_Type,
  COUNT(DISTINCT productkey) AS distinct_productkey_count
FROM
  product
GROUP BY
  ROLLUP(manufacturer)
ORDER BY
  manufacturer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

            manufacturer row_type  distinct_productkey_count
0   A. Datum Corporation   detail                        132
1        Adventure Works   detail                        192
2           Contoso, Ltd   detail                        710
3         Fabrikam, Inc.   detail                        267
4          Litware, Inc.   detail                        264
5      Northwind Traders   detail                         47
6        Proseware, Inc.   detail                        244
7       Southridge Video   detail                        192
8          Tailspin Toys   detail                        144
9      The Phone Company   detail                        152
10  Wide World Importers   detail                        173
11                  None    total                       2517

In [ ]:
%%sql

SELECT
  categoryname,
  manufacturer,
  CASE
    WHEN GROUPING(categoryname) = 0 AND GROUPING(manufacturer) = 0 THEN 'Detail'
    WHEN GROUPING(categoryname) = 0 AND GROUPING(manufacturer) = 1 THEN 'Category Subtotal'
    WHEN GROUPING(categoryname) = 1 AND GROUPING(manufacturer) = 1 THEN 'Grand Total'
    ELSE 'Unknown'
  END AS Row_Type,
  COUNT(DISTINCT productkey) AS distinct_productkey_count
FROM
  product
GROUP BY
  ROLLUP(categoryname, manufacturer)
ORDER BY
  categoryname, manufacturer;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

38 rows affected.

,categoryname,manufacturer,row_type,distinct_productkey_count
0,Audio,"Contoso, Ltd",Detail,45
1,Audio,Northwind Traders,Detail,27
2,Audio,Wide World Importers,Detail,43
3,Audio,None,Category Subtotal,115
4,Cameras and camcorders,A. Datum Corporation,Detail,132
5,Cameras and camcorders,"Contoso, Ltd",Detail,101
6,Cameras and camcorders,"Fabrikam, Inc.",Detail,139
7,Cameras and camcorders,None,Category Subtotal,372
8,Cell phones,"Contoso, Ltd",Detail,133
9,Cell phones,The Phone Company,Detail,152
10,Cell phones,None,Category Subtotal,285
11,Computers,Adventure Works,Detail,78
12,Computers,"Contoso, Ltd",Detail,184
13,Computers,"Fabrikam, Inc.",Detail,24
14,Computers,"Proseware, Inc.",Detail,177
15,Computers,Southridge Video,Detail,53
16,Computers,Wide World Importers,Detail,90
17,Computers,None,Category Subtotal,606
18,Games and Toys,Southridge Video,Detail,22
19,Games and Toys,Tailspin Toys,Detail,144
20,Games and Toys,None,Category Subtotal,166
21,Home Appliances,Adventure Works,Detail,64
22,Home Appliances,"Contoso, Ltd",Detail,150
23,Home Appliances,"Fabrikam, Inc.",Detail,104
24,Home Appliances,"Litware, Inc.",Detail,216
25,Home Appliances,Northwind Traders,Detail,20
26,Home Appliances,"Proseware, Inc.",Detail,67
27,Home Appliances,Wide World Importers,Detail,40
28,Home Appliances,None,Category Subtotal,661
29,"Music, Movies and Audio Books","Contoso, Ltd",Detail,45
30,"Music, Movies and Audio Books",Southridge Video,Detail,45
31,"Music, Movies and Audio Books",None,Category Subtotal,90
32,TV and Video,Adventure Works,Detail,50
33,TV and Video,"Contoso, Ltd",Detail,52
34,TV and Video,"Litware, Inc.",Detail,48
35,TV and Video,Southridge Video,Detail,72
36,TV and Video,None,Category Subtotal,222
37,None,None,Grand Total,2517

In [ ]:
%%sql
SELECT
  MAX(price) AS max_price,
  MIN(price) AS min_price,
  ROUND(AVG(price)::NUMERIC , 2) AS average_price,
  ROUND(PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY price)::NUMERIC,2) AS median_price,
  ROUND(STDDEV(price)::NUMERIC,2) AS stddev_price,
  ROUND((MAX((price - cost)/ price) * 100)::NUMERIC, 2)  AS max_margin,
  ROUND((MIN((price - cost)/ price) * 100)::NUMERIC, 2)  AS min_margin,
  ROUND((AVG((price - cost)/ price) * 100)::NUMERIC, 2)  AS average_margin,
  ROUND((PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (price - cost)/ price) * 100)::NUMERIC, 2)  AS median_margin,
  ROUND((STDDEV((price - cost)/ price) * 100::NUMERIC, 2)  AS stddev_margin
FROM
  product;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

,max_price,min_price,average_price,median_price,stddev_price,max_margin,min_margin,average_margin,median_margin,stddev_margin
0,3199.99,0.95,356.83,199.99,494.05,66.89,48.95,54.59,54.01,6.42

In [ ]:
%%sql

SELECT
  countryname,
  COUNT(CASE WHEN closedate IS NULL THEN 1 ELSE NULL END) AS open_store_count,
  COUNT(CASE WHEN closedate IS NOT NULL THEN 1 ELSE NULL END) AS closed_store_count,
  MAX(opendate) AS latest_open_date
FROM
  store
GROUP BY
  ROLLUP(countryname)
ORDER BY
  open_store_count,
  closed_store_count;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

      countryname  open_store_count  closed_store_count latest_open_date
0          Online                 1                   0       2010-01-01
1           Italy                 2                   1       2012-12-15
2     Netherlands                 4                   1       2015-12-09
3          Canada                 4                   3       2018-06-02
4       Australia                 5                   2       2015-12-09
5  United Kingdom                 6                   1       2015-04-04
6          France                 7                   0       2015-01-01
7         Germany                 8                   2       2019-03-05
8   United States                21                   6       2018-06-03
9            None                58                  16       2019-03-05

##3. Measure Exploration

###3.1 Explore sales date, quantity, revenue, product and customers.

In [ ]:
%%sql

SELECT
  MAX(orderdate),
  MIN(orderdate),
  COUNT(DISTINCT orderkey) AS distinct_orderkey,
  SUM(quantity) AS total_quantity,
  SUM(quantity * netprice * exchangerate) AS total_revenue,
  COUNT(DISTINCT customerkey) AS distinct_customers,
  COUNT(DISTINCT productkey) AS distinct_products,
  COUNT(DISTINCT storekey) AS distinct_stores
FROM
  sales;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

,max,min,distinct_orderkey,total_quantity,total_revenue,distinct_customers,distinct_products,distinct_stores
0,2024-04-20,2015-01-01,83130,628370,206407538.58,49487,2517,72

###3.2 Explore sales measures aggregated by countries.

In [ ]:
%%sql

SELECT
  countryname,
  COUNT(DISTINCT orderkey) AS distinct_orderkey,
  SUM(quantity) AS total_quantity,
  SUM(quantity * netprice * exchangerate) AS total_revenue,
  COUNT(DISTINCT customerkey) AS distinct_customers,
  COUNT(DISTINCT productkey) AS distinct_products
FROM
  sales s
LEFT JOIN store t ON s.storekey = t.storekey
GROUP BY
  countryname
ORDER BY
  distinct_customers;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

9 rows affected.

,countryname,distinct_orderkey,total_quantity,total_revenue,distinct_customers,distinct_products
0,France,1464,10910,3300684.61,1215,1425
1,Italy,1640,12308,3831483.34,1308,1551
2,Netherlands,2066,15320,4466274.98,1542,1665
3,Australia,2862,22153,10228592.63,2367,1917
4,Germany,5224,39727,11838167.39,3685,2178
5,Canada,5230,39695,17452345.14,3741,2207
6,United Kingdom,5674,42594,11233146.22,4363,2231
7,United States,26488,199591,67261036.08,18137,2498
8,Online,32482,246072,76795808.19,25914,2510

###3.3 Find top selling products.

In [ ]:
%%sql

SELECT
  ROW_NUMBER() OVER (ORDER BY SUM(quantity) DESC) AS rank_quantity,
  ROW_NUMBER() OVER (ORDER BY SUM(quantity * netprice * exchangerate) DESC) AS rank_revenue,
  productname,
  categoryname,
  subcategoryname,
  SUM(quantity) AS total_quantity,
  SUM(quantity * netprice * exchangerate) AS total_revenue
FROM
  sales s
LEFT JOIN product t ON s.productkey = t.productkey
GROUP BY
  productname, categoryname, subcategoryname
ORDER BY
  rank_revenue
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,rank_quantity,rank_revenue,productname,categoryname,subcategoryname,total_quantity,total_revenue
0,2,1,WWI Desktop PC2.33 X2330 Silver,Computers,Desktops,1390,1978563.54
1,8,2,Adventure Works Desktop PC2.33 XD233 Black,Computers,Desktops,1306,1930923.36
2,16,3,Adventure Works Desktop PC2.33 XD233 White,Computers,Desktops,1282,1856510.82
3,10,4,WWI Desktop PC2.33 X2330 Brown,Computers,Desktops,1296,1774293.33
4,27,5,Adventure Works Desktop PC2.33 XD233 Silver,Computers,Desktops,1234,1773019.12
5,62,6,Adventure Works Desktop PC2.33 XD233 Brown,Computers,Desktops,1171,1713090.75
6,30,7,WWI Desktop PC2.33 X2330 White,Computers,Desktops,1229,1703179.97
7,55,8,WWI Desktop PC2.33 X2330 Black,Computers,Desktops,1188,1640742.92
8,11,9,Adventure Works Desktop PC2.30 MD230 Black,Computers,Desktops,1292,1194983.26
9,405,10,"Adventure Works 52"" LCD HDTV X590 White",TV and Video,Televisions,465,1184191.94

In [ ]:
%%sql

SELECT
  ROW_NUMBER() OVER (PARTITION BY countryname ORDER BY SUM(quantity) DESC) AS rank_quantity,
  ROW_NUMBER() OVER (PARTITION BY countryname ORDER BY SUM(quantity * netprice * exchangerate) DESC) AS rank_revenue,
  countryname,
  productname,
  categoryname,
  subcategoryname,
  SUM(quantity) AS total_quantity,
  SUM(quantity * netprice * exchangerate) AS total_revenue
FROM
  sales s
LEFT JOIN product t ON s.productkey = t.productkey
LEFT JOIN store u ON s.storekey = u.storekey
GROUP BY
  countryname,
  productname,
  categoryname,
  subcategoryname
ORDER BY
  rank_revenue ASC, total_revenue DESC
LIMIT 27;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

27 rows affected.

,rank_quantity,rank_revenue,countryname,productname,categoryname,subcategoryname,total_quantity,total_revenue
0,1,1,United States,WWI Desktop PC2.33 X2330 Silver,Computers,Desktops,496,722044.51
1,12,1,Online,Adventure Works Desktop PC2.33 XD233 Silver,Computers,Desktops,521,678948.02
2,16,1,Canada,Adventure Works Desktop PC2.33 XD233 White,Computers,Desktops,99,229382.64
3,2,1,Germany,WWI Desktop PC2.33 X2330 Brown,Computers,Desktops,117,148905.11
4,4,1,Australia,WWI Desktop PC2.33 X2330 Black,Computers,Desktops,65,130428.46
5,30,1,United Kingdom,Adventure Works Desktop PC2.33 XD233 Brown,Computers,Desktops,97,123079.20
6,8,1,Netherlands,WWI Desktop PC2.33 X2330 Black,Computers,Desktops,50,68721.03
7,21,1,Italy,Adventure Works Desktop PC2.33 XD233 Brown,Computers,Desktops,34,44146.36
8,383,1,France,Contoso Projector 1080p X980 White,Computers,Projectors & Screens,10,43766.61
9,10,2,United States,Adventure Works Desktop PC2.33 XD233 Black,Computers,Desktops,454,700034.67
10,18,2,Online,Adventure Works Desktop PC2.33 XD233 Black,Computers,Desktops,509,671307.13
11,12,2,Canada,WWI Desktop PC2.33 X2330 Silver,Computers,Desktops,104,225377.42
12,9,2,Australia,WWI Desktop PC2.33 X2330 Silver,Computers,Desktops,61,124553.44
13,13,2,United Kingdom,WWI Desktop PC2.33 X2330 Silver,Computers,Desktops,104,122607.52
14,33,2,Germany,Adventure Works Desktop PC2.33 XD233 Black,Computers,Desktops,83,111924.52
15,1,2,Netherlands,WWI Desktop PC2.33 X2330 White,Computers,Desktops,57,67555.48
16,38,2,Italy,Adventure Works Desktop PC2.33 XD233 White,Computers,Desktops,29,42204.68
17,18,2,France,WWI Desktop PC2.33 X2330 Brown,Computers,Desktops,33,34977.66
18,19,3,United States,Adventure Works Desktop PC2.33 XD233 Brown,Computers,Desktops,424,682786.47
19,8,3,Online,Adventure Works Desktop PC2.33 XD233 White,Computers,Desktops,537,649776.26
20,22,3,Canada,Adventure Works Desktop PC2.33 XD233 Black,Computers,Desktops,92,189610.31
21,375,3,Australia,Proseware Projector 1080p DLP86 Black,Computers,Projectors & Screens,18,123172.78
22,21,3,United Kingdom,Adventure Works Desktop PC2.33 XD233 Silver,Computers,Desktops,101,119480.24
23,31,3,Germany,Adventure Works Desktop PC2.33 XD233 Silver,Computers,Desktops,85,109620.80
24,68,3,Netherlands,Adventure Works Desktop PC2.33 XD233 Black,Computers,Desktops,30,40441.73
25,107,3,Italy,Adventure Works Desktop PC2.33 XD233 Silver,Computers,Desktops,22,36542.50
26,13,3,France,Adventure Works Desktop PC2.30 MD230 Brown,Computers,Desktops,34,33303.21

###3.4 Calculate online revenue growth

In [ ]:
%%sql

WITH sales_data AS
(
  SELECT
    EXTRACT(YEAR FROM orderdate) AS order_year,
    SUM(CASE WHEN s.storekey = 999999 THEN quantity * netprice * exchangerate ELSE 0 END) AS online_revenue,
    SUM(quantity * netprice * exchangerate) AS total_revenue
  FROM
    sales s
  LEFT JOIN store t ON s.storekey = t.storekey
  GROUP BY
    order_year
)
SELECT
  *,
  online_revenue / LAG(online_revenue) OVER () * 100 AS online_revenue_growth,
  online_revenue / total_revenue * 100 AS online_revenue_pct_of_total
FROM
  sales_data
ORDER BY
  order_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,order_year,online_revenue,total_revenue,online_revenue_growth,online_revenue_pct_of_total
0,2015,950352.21,7370979.48,NaN,12.89
1,2016,1579629.38,10383613.67,166.22,15.21
2,2017,2145893.71,13221339.05,135.85,16.23
3,2018,5071949.61,24667447.84,236.36,20.56
4,2019,6485368.13,31818095.97,127.87,20.38
5,2020,2675169.93,11218435.79,41.25,23.85
6,2021,8798749.55,21357976.66,328.90,41.20
7,2022,24127533.28,44864557.21,274.22,53.78
8,2023,20089790.85,33108565.51,83.27,60.68
9,2024,4871371.55,8396527.38,24.25,58.02